.shoediv1 {
	text-align: left;
	display: inline-block;
	width: 386px;
}

.shoediv2 {
	text-align: center;
	display: inline-block;
	width: 386px;
}

.shoediv3 {
	text-align: right;
	display: inline-block;
	width: 386px;
}

figure {
	gap: 100px;
	font-family: "Noto Sans Hebrew", sans-serif;
}

h1 {
	text-align: center;
	font-family: "Noto Sans Hebrew", sans-serif;
	font-size: 72px;
}

.offsettext1 {
	margin-right: 187px;
}

.offsettext2 {
	margin-right: 208px;
}

.shoediv4 {
	text-align: left;
	display: inline-block;
	width: 386px;
}

p {
	width: 70px;
	display: inline-block;
}

.offsetprice1 {
	margin-right: 270px;
}

.offsetprice2 {
	margin-right: 270px;
}

.shoediv5 {
	text-align: center;
	display: inline-block;
	width: 386px;
}

.shoediv6 {
	text-align: right;
	display: inline-block;
	width: 386px;
}
